---
import { Image } from "astro:assets";
import villagesBanner from "../assets/banners/villagesBanner.png";
import Layout from "../layouts/Layout.astro";
import { villageTraits, resources, specialRegions, sietchTraits } from "../data/arrakis";
---

<Layout
	title="Arrakis"
	description="All the content regarding the world of Arrakis in Dune: Spice Wars. Includes information about Villages, Resources, Special Regions and Sietches | Duneopedia"
>
	<!-- Content -->
	<section>
		<header class="main">
			<h1>Arrakis</h1>
		</header>
		<span class="image main"
			><Image src={villagesBanner} alt="Villages Banner" /></span
		>

		<blockquote>"He who controls the Spice controls the universe."</blockquote>

		<!-- LIST OF CONTENTS -->
		<h4 id="top">List of Contents</h4>
		<div id="contents" class="row">
			<div class="col-6 col-12-medium">
				<ul>
					<a href="#villages"><li><strong>1.0 | Villages</strong></li></a>
					<ul>
						<a href="#villageInfo"><li>1.1 | General Info</li></a>
						<a href="#villageTraits"><li>1.2 | Village Traits</li></a>
					</ul>
					<a href="#resources"><li><strong>2.0 | Resources</strong></li></a>
					<ul>
						{resources.map((r, i) => (
							<a href={`#${r.id}`}><li>2.{i + 1} | {r.name}</li></a>
						))}
					</ul>
				</ul>
			</div>
			<div class="col-6 col-12-medium">
				<ul>
					<a href="#specialRegions"><li><strong>3.0 | Special Regions</strong></li></a>
					<ul>
						{specialRegions.map((sr, i) => (
							<a href={`#${sr.id}`}><li>3.{i + 1} | {sr.name}</li></a>
						))}
					</ul>
					<a href="#sietches"><li><strong>4.0 | Sietches</strong></li></a>
					<ul>
						<a href="#sietchInfo"><li>4.1 | General Info</li></a>
						<a href="#sietchTraits"><li>4.2 | Sietch Traits</li></a>
					</ul>
				</ul>
			</div>
		</div>
		<!-- END LIST OF CONTENTS -->

		<!-- VILLAGE INFO -->
		<header id="header"></header>
		<h2 id="villages">Villages</h2>
		<h3 id="villageInfo">General Info</h3>
		<ul>
			<li>
				+ Villages are located in certain regions and can be attacked with military units
			</li>
			<li>
				+ Neutral villages further from your Main Base have stronger <a
					class="link"
					target="_blank"
					href="units.html#militia">Militia</a
				> defenses
			</li>
			<li>
				+ After defeating a village's militia, you can take one of three actions:
			</li>
			<ul>
				<li>
					− <strong>Annex</strong>: spend <a class="link" target="_blank" href="#authority">Authority</a> to gain control of the village and its region
				</li>
				<li>
					− <strong>Pillage</strong>: plunder it for Resources (mainly <a class="link" target="_blank" href="#solari">Solari</a>)
				</li>
				<li>
					− <strong>Liberate</strong>: return the village to a neutral state (only available on enemy faction villages)
				</li>
			</ul>
			<li>
				+ Villages have construction slots that can be unlocked with <a class="link" target="_blank" href="#plascrete">Plascrete</a>:
			</li>
			<ul>
				<li>− Standard factions: 5 slots (2 unlocked by default; additional slots cost 100, 200, and 400 Plascrete)</li>
				<li>− House Corrino: 6 slots (3 unlocked by default)</li>
				<li>− Fremen: 4 slots (2 unlocked by default; additional slots cost 100 and 200 Plascrete)</li>
			</ul>
			<li>
				+ Each village has 2 random traits providing bonuses (see Village Traits below)
			</li>
			<ul>
				<li>− Investment Office buildings will apply a village's traits an additional time</li>
			</ul>
			<li>
				+ You may abandon a controlled village at any time (no refund is given)
			</li>
		</ul>

		<h3 id="villageTraits">Village Traits</h3>
		<p>Each village has 2 of the following traits:</p>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Trait</th>
						<th>Effect(s)</th>
					</tr>
				</thead>
				<tbody>
					{villageTraits.map((trait) => (
						<tr>
							<td>{trait.name}</td>
							<td>
								{trait.effects.length === 1
									? trait.effects[0]
									: trait.effects.map((e) => <li>{e}</li>)
								}
							</td>
						</tr>
					))}
				</tbody>
			</table>
		</div>
		<!-- END VILLAGE INFO -->

		<!-- RESOURCES -->
		<header id="header"></header>
		<h2 id="resources">Resources</h2>
		{resources.map((resource) => (
			<>
				<h3 id={resource.id}><strong>{resource.name}</strong></h3>
				<ul>
					{resource.info.map((item) => <li>{item}</li>)}
					{resource.deficitEffects && (
						<>
							<li>− When a faction goes in to a {resource.name} deficit, they receive the following effects:</li>
							<ul>
								{resource.deficitEffects.map((effect) => <li>{effect}</li>)}
							</ul>
						</>
					)}
				</ul>
				{resource.landsraadTiers && (
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Landsraad Standing</th>
									<th>Effect(s)</th>
								</tr>
							</thead>
							<tbody>
								{resource.landsraadTiers.map((tier) => (
									<tr>
										<td>{tier.range}</td>
										<td>
											{tier.effects.length === 1
												? tier.effects[0]
												: tier.effects.map((e) => <li>{e}</li>)
											}
										</td>
									</tr>
								))}
							</tbody>
						</table>
					</div>
				)}
			</>
		))}
		<!-- END RESOURCES -->

		<!-- SPECIAL REGIONS -->
		<header id="header"></header>
		<h2 id="specialRegions">Special Regions</h2>
		<ul>
			<li>+ All or some of these Special Regions will randomly spawn around the map at the start of the game</li>
			<li>+ All owned Special Regions provide +1000 Hegemony</li>
			<li>+ Annexing a Special Region costs an extra +30 Authority</li>
			<li>+ Crafts Workshops can only be built in Special Regions</li>
		</ul>
		{specialRegions.map((region) => (
			<>
				<h3 id={region.id}><strong>{region.name}</strong></h3>
				<ul>
					{region.note && <li>Note: {region.note}</li>}
					{region.effects.map((effect) => <li>{effect}</li>)}
				</ul>
			</>
		))}
		<!-- END SPECIAL REGIONS -->

		<!-- SIETCHES -->
		<header id="header"></header>
		<h2 id="sietches">Sietches</h2>
		<h3 id="sietchInfo">General Info</h3>
		<ul>
			<li>
				+ Sietches will randomly spawn somewhere on the map when the game is
				created
			</li>
			<li>
				+ Sietches will periodically send raiders to attack nearby <a
					class="link"
					href="#villages">Villages</a
				> owned by players (the lower the relation level, the more frequent the raids)
			</li>
			<li>
				+ Initially, Sietches are competely invisible. However, players can
				increase their Sietch detection speed through various means
			</li>
			<li>
				+ Once a Sietch is discovered, players can choose to trade them 10 <a
					class="link"
					href="#water">Water</a
				> in exchange for another Resource determined by the Sietch
			</li>
			<li>
				+ Trading with a Sietch slowly raises your relations. At 100 relation
				level, you can ally the Sietch to gain their unique trait
			</li>
		</ul>

		<h3 id="sietchTraits">Sietch Traits</h3>
		<p>Each Sietch can be allied to gain one of the following traits:</p>

		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Trait</th>
						<th>Category</th>
						<th>Effect(s)</th>
					</tr>
				</thead>
				<tbody>
					{sietchTraits.map((trait) => (
						<tr>
							<td>{trait.name}</td>
							<td style="text-transform: capitalize">{trait.category}</td>
							<td>
								{trait.effects.length === 1
									? trait.effects[0]
									: trait.effects.map((e) => <li>{e}</li>)
								}
							</td>
						</tr>
					))}
				</tbody>
			</table>
		</div>

		<!-- END MILITARY -->
	</section>
</Layout>
